@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



body {
    background-color: #5AC2C2;
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: grid;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
}

#cloud {
    height: 187px;
    width: 337px;
}

form {
    margin-top: 50px;
    width: 337px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    text-align: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    text-align: center;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding-block: 9px; 
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: white;
    text-decoration: none;
    background-color: #5AC2C2;
    border-radius: 30px;
    padding: 15px 20px;
    text-align: center;
    border: none;
    width: min-content;
    position: absolute;
    bottom: 20px;
}

.back-btn {
    left: 20px;
}

.enter {
    right: 20px;
    font-family: 'Luckiest Guy', cursive;
}

.logo {
    position:absolute;
    top: 20px;
    left: 20px;
    
    }
   
    